---
import { Image } from "@astrojs/image/components";
import code from "../../public/images/code.png";
---

<section class="relative mb-6 h-80 justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <Image
      src={code}
      class="object-cover min-w-full min-h-full inset-0 opacity-30"
      alt="Random C++ Code Image"
    />
  </div>
</section>
