---
import { Image } from "@astrojs/image/components";
import code from "../../public/images/code.png";
---

<section class="relative mb-6 h-64 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <Image
      src={code}
      class="object-cover min-w-full min-h-full inset-0 opacity-30"
      alt="Random C++ Code Image"
    />
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-sm py-4 mb-4">Welcome to</div>
    <div class="text-4xl font-mono">
      Something <span class="text-green-700 dark:text-green-500"
        >I guess...</span
      >
    </div>
  </div>
</section>
