---
import ThemeToggle from "./ToggleThemeMenu";
// export interface Props {
//   title: string;
//   description: string;
//   image?: string;
// }

// FIXME: Find a matching image for the blog
// const { title, description, image = "./cover.jpg" } = Astro.props;
---

<header class="fixed w-full p-2 z-20 backdrop-blur-sm">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
